<div class=' bg-black text-white'>
    <div class='flex justify-between items-center'>
      <!-- <button onClick={() => setIsNavOpen((prev) => !prev)} >
        <img src=".../images/hamburger.svg" alt='menu' className='lg:hidden pb-1 ml-1 w-10' />
      </button> -->
      <ul class="DESKTOP-MENU hidden space-x-8 lg:flex text-xl m-1 p-3">
        <li class='hover:text-orange'>
          <a href="/informations" class='uppercase'>informations</a>
        </li>
        <li class='hover:text-orange'>
          <a href="/programmation" class='uppercase'>programmation</a>
        </li>
        <li class='hover:text-orange'>
          <a href="/lieux" class='uppercase'>lieux</a>
        </li>
      </ul>
      <div class='m-1 p-3'>
        <a href="/" class='text-orange hover:text-white font-extrabold text-2xl uppercase'>se déconnecter</a>
      </div>
    </div>
    <nav class='flex gap-8 text-xl lg:hidden'>
      <section class='MOBILE-MENU block pl-2 lg:hidden'>
        <div>
          <ul class="">
            <li class="my-8 hover:text-orange">
              <a href="/informations" class='uppercase'>informations</a>
            </li>
            <li class="my-8 hover:text-orange">
              <a href="/programmation" class='uppercase'>programmation</a>
            </li>
            <li class="my-8 hover:text-orange">
              <a href="/lieux" class='uppercase'>lieux</a>
            </li>
          </ul>
        </div>
      </section>
    </nav>
    <!-- <style>{`
    .hideMenuNav {
      display: none;
    }
    .showMenuNav {
      
      width: 100%;
    }
  `}</style> -->

  </div >