<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>   
<body>

    <header>
        <%- include('../partials/header'); %>
      </header>

      <div class='relative bg-black'>
        <div class='text-center opacity-50'>
          <img src="/images/photo-accueil.jpg" alt='accueil1' />
        </div>
        <div class='absolute z-10 top-1/3 right-1/3'>
          <p class=' text-orange italic lg:text-6xl md:text-4xl sm:text-2xl font-thin text-xl'>Bienvenue au</p>
          <h1 class=' text-white lg:text-8xl md:text-6xl sm:text-5xl text-4xl font-bold uppercase'>nation sound</h1>
        </div>
      </div>


</body>
</html>
