<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>   
<body>

    <header>
        <%- include('../partials/header'); %>
      </header>
            <div class='text-orange p-8'>
                <h1 class='lg:text-6xl text-4xl font-extrabold text-center pt-2 uppercase '>informations</h1>
            </div>
            <div class='grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1'>
                <div class='m-10 p-5 flex flex-col border border-solid border-black rounded-md'>
                    <h2 class='text-center text-xl font-bold leading-9 tracking-tight text-black'>Ajouter une information</h2>
                    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                        <form class="space-y-6" action="#" method="POST">
                            <div>
                                <label htmlFor="title" class="block text-sm font-medium leading-6 text-black">
                                    Titre
                                </label>
                                <div class="mt-2">
                                    <input
                                        id="title"
                                        name="title"
                                        type="title"
                                        autoComplete="title"
                                        required
                                        class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                    />
                                </div>
                            </div>

                            <div>
                                <div class="flex items-center justify-between">
                                    <label htmlFor="start_date" class="block text-sm font-medium leading-6 text-gray-900">
                                        Date de début
                                    </label>
                                </div>
                                <div class="mt-2">
                                    <input
                                        id="start_date"
                                        name="start_date"
                                        type="start_date"
                                        autoComplete="start_date"
                                        required
                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange sm:text-sm sm:leading-6"
                                    />
                                </div>
                            </div>

                            <div>
                                <button
                                    type="submit"
                                    class="flex w-full justify-center rounded-md bg-orange px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange"
                                >
                                    Ajouter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='col-span-2 m-10 p-5 border border-solid border-black rounded-md'>
                    <h2 class='text-center text-xl font-bold leading-9 tracking-tight text-black'>Liste des informations</h2>
                </div>
            </div>
</body>
</html>
